$galleryHeight: 650px;
#gallery {
  position: relative;
  margin-top: 2 * $margin;
  margin-left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  .images-wrapper {
    position: relative;
    //width: 100%;
    width: auto;
    display: flex;
    gap: $margin/4;
    height: $galleryHeight;
    .gallery-img {
      height: $galleryHeight;
      width: auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 960px) {
  #gallery {
    width: 100vw;
    height: $galleryHeight/2;
    display: flex;
    justify-content: center;

    .images-wrapper {
      position: relative;
      //width: 100%;
      width: auto;
      display: flex;

      justify-content: center;

      height: $galleryHeight/2;
      .gallery-img {
        margin-left: 10px;
        height: $galleryHeight/2;
        width: auto;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
