nav {
  height: 93px;
  z-index: 10;
  background-color: #0000000e;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 70px;
  a:first-child {
    margin-left: calc(24vw / 1080 * 100);
  }
  a {
    color: $nearly_white;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    &:hover {
      color: white;
    }
  }
}

@media (max-width: 960px) {
  $mobileWidth: 200px;
  nav {
    //display: none;
    //opacity: 0;
    img {
      display: none;
    }
    position: fixed;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    z-index: 5;
    top: 0;
    right: 0;
    padding-right: $margin/4;
    background-color: $background;
    height: 100vh;
    left: initial;
    text-align: right;
    gap: 20px;
    width: $mobileWidth;
    //width: 50%;
    transform: translateX($mobileWidth + $margin/4);
    transition: 0.25s 0s ease-in-out;
    a:first-child {
      margin-top: 1.25 * $margin;
      a:first-child {
        margin-left: calc(27vw / 1080 * 100);
      }
    }
    a {
      color: white;
      font-size: 1.5rem !important;
    }
  }
  nav.switched-on {
    //display: flex;
    opacity: 1;
    z-index: 12;
    transform: translateX(0px);
    transition: 0.25s 0s ease-in-out;
  }
}
