@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
body {
  color: white;
  font-family: 'Oxygen', sans-serif;
  margin: 0;
  background-color: #25201c;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 9.9375rem;
  font-weight: bold;
}

h2 {
  font-size: 4.625rem;
  font-weight: bold;
}

h3 {
  font-size: 1.875rem;
  font-weight: bold;
}

h4 {
  font-size: 2.75rem;
  font-weight: bold;
}

.decoration-strip {
  width: 86px;
  height: 100vh;
  position: absolute;
  background-color: #d02935;
  right: 0;
  top: 0;
  z-index: 10;
}

.basic-text {
  font-size: 1.5rem;
}

.decoration {
  position: absolute;
  z-index: -1;
}

nav {
  height: 93px;
  z-index: 10;
  background-color: #0000000e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
}

nav a {
  color: #e2e2e2;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 700;
}

nav a:hover {
  color: white;
}

.landing {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.landing h1,
.landing h3 {
  z-index: 1;
}

.landing h1 {
  margin-top: -100px;
}

.landing .main-circles {
  z-index: 0;
  position: absolute;
}

#about_us {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  -webkit-box-shadow: 3px 3px 10px 0px black;
  box-shadow: 3px 3px 10px 0px black;
}

#about_us .about-text {
  margin-left: 93px;
  margin-top: 93px;
  width: 619px;
}

#about_us .about-text p {
  margin-top: 46.5px;
}

#about_us img {
  height: 100vh;
}

#about_us .decoration {
  left: -93px;
  top: 0;
  height: 77%;
}

#gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#gallery h2 {
  margin-right: 93px;
  margin-top: 93px;
  margin-bottom: 93px;
}

#gallery h4 {
  color: #d02935;
  margin-right: 93px;
  margin-bottom: 46.5px;
}

#gallery .gallery-strip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 93px;
}

#gallery .images-wrapper {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23.25px;
  height: 650px;
}

#gallery .gallery-image {
  max-height: 650px;
}

#contact-price {
  padding-top: 93px;
}

#contact-price .cards-wrapper {
  margin-top: 93px;
  margin-bottom: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-price .cards-wrapper h2 {
  margin-top: 46.5px;
  margin-left: 46.5px;
}

#contact-price .cards-wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 653.5px;
}

#contact-price .cards-wrapper header img {
  position: absolute;
  margin-top: 46.5px;
  right: -3.5px;
  width: 100px;
}

#contact-price .cards-wrapper .card {
  display: block;
  width: 700px;
  height: 460px;
}

#contact-price .cards-wrapper .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact-price .cards-wrapper .card-description {
  margin-top: 46.5px;
  font-size: 1.75rem;
  width: 607px;
  text-align: right;
  margin-left: 46.5px;
}

#contact-price .cards-wrapper .card-description p {
  margin: 0;
  margin-top: 10px;
}

#contact-price .cards-wrapper hr {
  margin-top: 46.5px;
  height: 1px;
  width: 607px;
}

#price {
  background-color: #d02935;
  border: 4px solid #d02935;
}

#price hr {
  background-color: white;
}

#contact {
  position: relative;
  border: 4px solid #fb2534;
}

#contact .decoration {
  bottom: 0;
}

#contact hr {
  border: 1px solid #fb2534;
  background-color: #fb2534;
}

footer {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 332px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d02935;
  font-size: 1.25rem;
  margin-top: 186px;
}

footer .decoration {
  z-index: 2;
}

footer p {
  margin: 0;
  z-index: 3;
}

footer hr {
  z-index: 3;
  height: 1px;
  background-color: white;
  width: 50%;
}

.button {
  z-index: 1;
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.062);
  border-radius: 50%;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-backdrop-filter: brightness(60%);
          backdrop-filter: brightness(60%);
  -webkit-backdrop-filter: contrast(40%);
          backdrop-filter: contrast(40%);
}

.button::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/arrow.svg");
  background-position-y: 55%;
}

.scroll {
  bottom: 46.5px;
}

.button.prev {
  bottom: 45%;
  left: 93px;
}

.button.prev::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.button.next {
  bottom: 45%;
  right: 93px;
}

.button.next::before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 1380px) {
  nav a {
    font-size: 1.25rem;
  }
  nav img {
    height: 80%;
  }
  .decoration-strip {
    width: 7%;
  }
  .basic-text {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 7.8125rem;
  }
  h2 {
    font-size: 2.8125rem;
  }
  h3 {
    font-size: 1.5625rem;
  }
  h4 {
    font-size: 2.1875rem;
  }
  .main-circles {
    width: 50%;
  }
  .button {
    width: 70px;
    height: 70px;
  }
  .button::before {
    width: 70px;
    height: 70px;
  }
  #about_us {
    position: relative;
    height: 75vh;
  }
  #about_us .about-text {
    margin-left: 23.25px;
  }
  #about_us p {
    width: 75%;
  }
  #about_us .decoration {
    height: 50%;
    width: 50%;
  }
  #about_us .about-image {
    height: 100%;
    max-width: auto;
  }
  #contact-price h2 {
    font-size: 2.5rem;
  }
  #contact-price p {
    font-size: 1.25rem;
  }
  #contact-price .cards-wrapper header {
    width: 300px;
  }
  #contact-price .cards-wrapper .card {
    display: block;
    width: 400px;
    height: 40vh;
  }
  #contact-price .cards-wrapper hr {
    margin-top: 10px;
    width: 75%;
  }
  #contact-price .cards-wrapper .card-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
  #contact-price .cards-wrapper .card-description {
    width: 300px;
    text-align: left;
    margin-top: 10px;
    font-size: 1.25rem;
  }
  #contact-price .cards-wrapper .logo-image {
    display: none;
  }
  #contact-price .decoration {
    display: none;
  }
  footer {
    font-size: 0.9375rem;
    height: 200px;
  }
  footer .decoration {
    display: none;
  }
}

@media (max-width: 960px) {
  nav {
    display: none;
  }
  h1 {
    font-size: 6.5625rem;
  }
  h2 {
    font-size: 2.1875rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 2.1875rem;
  }
  .main-circles {
    width: 90%;
  }
  #about_us {
    height: auto;
  }
  #about_us .basic-text {
    font-size: 2vh;
    min-height: 40vh;
  }
  #about_us .about-image {
    display: none;
  }
  #about_us .decoration {
    display: none;
  }
  #contact-price .cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }
  #contact-price .cards-wrapper .card {
    width: 100%;
    border: 0;
  }
  .decoration-strip {
    display: none;
  }
  footer {
    font-size: 0.9375rem;
  }
  footer p {
    width: 75vw;
    text-align: center;
  }
  footer hr {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */